body {
  background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F56%2F19%2Fd5%2F5619d5d0b17eead50a13c4fb641167a7.jpg&f=1&nofb=1');
  background-size: cover;
}
.App {
  text-align: center;
}

h1 {
  background-color: antiquewhite;
  margin: 0;
  padding: 20px;
  margin-bottom: 5%;
}

.difficulty {
  background-color: #e6e600;
}

.piramid {
  display: inline-block;
  padding: 40px;
  background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwebstockreview.net%2Fimages%2Fegypt-clipart-3d-pyramid-1.png&f=1&nofb=1');
  background-size: cover;
  background-position: center;
}

input {
  padding: 4px;
  margin: 4px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}

.clock {
  background-color: #efefef;
  display: inline-block;
  padding: 10px 20px;
  font-size: 25px;
  margin: 20px;
  border-radius: 6px;
  border: 2px solid;
}

.helper {
  background-color: #ababab;
  user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
  margin: 30px;
  font-size: 25px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  transition-duration: .2s;
}

button:hover {
  background-color: #ababab;
}